<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron">
  <h1>Bizim Ev için Otomasyon</h1>
  <p>
    Aşağıdaki fonksiyonları kullanarak ev ile ilgili otomasyon uygulamalarına ulaşabilirsiniz.
  </p>
</div>


<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xl-2 col-6">
    <h1>Bahçe Işık</h1>
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2 col-2" *ngIf="!IsOpen">
    <button type="button" class="btn btn-success btn-lg" (click)="OpenGardenLamb()">Aç</button>
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2 col-2" *ngIf="IsOpen">
    <button type="button" class="btn btn-danger btn-lg" (click)="CloseGardenLamb()">Kapat</button>
  </div>
</div>




